.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.card-div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 150px;
    border: 1px solid black;
    background-color: yellow;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    margin-top: 40px;
}
.card-div.flipped {
    background-color: red;
    transform: rotateY(180deg);
}
.card-div.matched {
    background-color: greenyellow;
}
.card-div .content-holder {
    transform: rotateY(-180deg);
    font-size: 62px;
}
.score-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.score-div .text {
    font-size: 62px;
}
.cards-holder {
    display: flex;
    width: 37%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 60px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}
